<h3>Past Events:</h3>
<div class="row row-cols-3 row-cols-lg-4 gy-1">
  <% @events.past.each do |event| %>
    <div class='col'>
      <div class="box">
        <%= link_to event.title, event %>
      </div>
    </div>
  <% end %>
</div>

<h3>Future Events:</h3>
<div class="row row-cols-3 row-cols-lg-4 gy-1">
  <% @events.future.each do |event| %>
    <div class='col'>
      <div class="box">
        <%= link_to event.title, event %>
      </div>
    </div>
  <% end %>
</div>
