<h2>Past Events:</h2>
<% @events.past.each do |event| %>
  <%= link_to event.title, event %>
<% end %>

<h2>Future Events:</h2>
<% @events.future.each do |event| %>
  <%= link_to event.title, event %>
<% end %>