<h3>Past Events:</h3>
<ul>
  <% @events.past.each do |event| %>
    <li><%= link_to event.title, event %></li>
  <% end %>
</ul>

<h3>Future Events:</h3>
  <div class="row">
    <% @events.future.each do |event| %>
      <div class='col-4'>
        <div class="box">
          <%= link_to event.title, event %>
        </div>
      </div>
    <% end %>
  </div>
