<% if current_user == @event.creator %>
<h5>Invite Users</h5>
  <%= form_with model: Invitation do |form| %>
    <%= hidden_field(:event, :id) %>
    <div class="d-flex align-items-center ">
      <%= form.text_field(:username) %>
      <%= form.submit :invite, class: 'btn btn-sm btn-primary'%>
    </div>
  <% end %>
<% end %>
